### YPCORE HTACCESS ###

<FilesMatch "\.(log|htaccess)">
 Order deny,allow
 Deny from all
</FilesMatch>

#DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css|php|mp3)
RewriteRule ^news/([^/]*)/?$ index.php?_code_=news/view&alias=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?_code_=$1



### END YPCORE HTACCESS ###